@inherits LayoutComponentBase

<div class="btn-group">
    <a href="/workflows/definitions" class="btn btn-primary" aria-current="page">Workflow Definitions</a>
    <a href="/workflows/instances" class="btn btn-primary">Workflow Instances</a>
</div>
x
@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
